/*-------------------------------------------------

	- Proyect: Bradia Soluciones en TI landing page
	- Date: Oct 2019
	- Author: Bryan Rodríguez

-------------------------------------------------*/

/*-------------------------------------------------

                - Color palette -
    Purple
    #8a48a5;
    #9b59b6;
    
    GrayScale
    #f4f4f4;
    text - #666;
    #efefef;
    #e8e8e8;
    #fcfcfc;

    Green
    #02c955;

-------------------------------------------------*/

/*-------------------------------------------------

                - General Setup -

-------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: rgb(255, 255, 255);
  color: #666;
  font-family: "Montserrat", "Arial";
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/*-------------------------------------------------

                - Reusables -

-------------------------------------------------*/

h1 {
  margin-top: 0px;
  margin-bottom: 40px;
  color: white;
  font-size: 170%;
  text-transform: uppercase;
  letter-spacing: 3px;
  word-spacing: 3px;
}

h2 {
  font-weight: 400;
  font-size: 140%;
  word-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: black;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #0078d7;
  content: " ";
  width: 100px;
  margin: 30px auto;
}

h3 {
  font-weight: 300;
  font-size: 110%;
  margin-bottom: 15px;
  color: black;
}

section {
  padding: 80px 0;
}

.row-max {
  max-width: 1140px;
  text-align: center;
  margin: 0 auto;
}

.row-90 {
  width: 90%;
  text-align: center;
  margin-left: 5%;
}

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid #0078d7;
  text-decoration: none;
  border-radius: 200px;
  transition: 0.3s;
}

.btn-full:link,
.btn-full:visited {
  background-color: #0078d7;
  color: white;
}

.btn-ghost:link,
.btn-ghost:visited {
  color: #0078d7;
}

.btn-full:hover,
.btn-full:active,
.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #0366b8;
  background-color: #0366b8;
  color: white;
}

.icon-big {
  font-size: 350%;
  display: block;
  color: #0078d7;
  margin-bottom: 10px;
}

ion-icon {
  font-size: 64px;
}

.icon-small {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #02c955;
  font-size: 140%;
  margin-right: 10px;

  /*secrets to align text and icons*/
  line-height: 120%;
  vertical-align: middle;
  margin-top: -5px;
}

.icon-small-red {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: red;
  font-size: 140%;
  margin-right: 10px;

  /*secrets to align text and icons*/
  line-height: 120%;
  vertical-align: middle;
  margin-top: -5px;
}

.ion-ios-closeion-ios-close {
  color: red;
}
.box {
  margin: 2%;
}

.long-copy {
  line-height: 145%;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 40px;
  text-align: justify;
}

/*-------------------------------------------------

                - Section Header -

-------------------------------------------------*/

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(img/laptops_bg.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header-text-box {
  position: absolute;
  width: 1140px;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.logo {
  margin-top: 20px;
  height: 100px;
  width: auto;
  float: left;
}

/* Main nav */

.main-nav {
  float: right;
  list-style: none;
  margin-top: 50px;
  transition: 0.3s;
  margin-bottom: 10px;
  z-index: 9999;
}

.main-nav li {
  display: inline-block;
  margin-left: 20px;
  margin-top: 5px;
}

.main-nav li a:link,
.main-nav li a:visited {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 80%;
  border-bottom: 1px solid transparent;
  padding: 1px 0;
  transition: 0.3s;
}

.main-nav li a:hover,
.main-nav li a:active {
  padding: 6px 0;
  border-bottom: 6px solid #0078d7;
}

/*Stick nav*/

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 2px 2px #efefef;
  z-index: 9999;
  transition: 0.3s;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
  color: #666;
  padding: 12px 0;
}

.sticky .main-nav {
  margin-top: 15px;
}

.sticky .logo {
  margin-top: 5px;
  height: 40px;
  width: auto;
  float: left;
}

/*Mobile nav*/

.mobile-nav-icon {
  float: right;
  margin-top: 5px;
  cursor: pointer;
  display: none;
}

.mobile-nav-icon i {
  font-size: 200%;
  color: black;
}

.icon-arrow {
  font-size: 250%;
  display: block;
  color: white;
  margin: 20px 0;
  transition: 0.3s;
  cursor: pointer;
}

.icon-arrow:hover {
  font-size: 280%;
}

header .btn {
  margin: 0;
}

/*-------------------------------------------------

                - Section Bradia -

-------------------------------------------------*/

.logo-full {
  margin: 0 0 20px 0;
  height: 180px;
  width: auto;
}

.span-1-of-4 {
  margin-bottom: 50px;
}

/*-------------------------------------------------

                - Section Showcase -

-------------------------------------------------*/

.section-showcase {
  padding: 0;
}

.showcase {
  list-style: none;
  width: 100%;
}

.showcase li {
  display: block;
  float: left;
  width: 25%;
}
.showcase-fig {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: black;
}

.showcase-fig img {
  opacity: 0.6;
  width: 100%;
  height: auto;
  transform: scale(1.1);
  transition: 0.3s;
}

.showcase-fig img:hover {
  opacity: 1;
  transform: scale(1.13);
}

/*-------------------------------------------------

                - Section Web -

-------------------------------------------------*/

.section-web {
  background: #f4f4f4;
}
.box p {
  text-align: left;
  font-size: 90%;
  line-height: 145%;
  padding-bottom: 20px;
}

.span-1-of-4 {
  margin-bottom: 30px;
}

.web-fig img {
  border-radius: 5px;
  width: 90%;
  box-shadow: 0 2px 2px #666;
}

/*-------------------------------------------------

            - Section Marketing-

-------------------------------------------------*/

.section-marketing {
  background: white;
}

.marketing-fig img {
  width: 80%;
  height: auto;
  transform: scale(1.1);
  transition: 0.5s;
}

.marketing-fig img:hover {
  transform: scale(1.15);
}

.icon-check {
  font-size: 150%;
  display: block;
  float: left;
  color: #888;
  margin: 0 30px;
  transition: 0.5s;
}

.marketing-points p {
  text-align: left;
  margin-bottom: 30px;
  font-size: 90%;
}

.marketing-points div {
  transition: 0.5s;
  transform: translate(0px, 0px);
}

.marketing-points div:hover {
  transform: translate(4px, 0px);
}

.marketing-points div i {
  color: #0078d7;
}

.icons-marketing {
  margin-bottom: 30px;
}
.icons-marketing i {
  font-size: 200%;
  margin: 20px;
  transition: 0.5s;
}

.icons-marketing .ion-logo-twitter {
  color: #1da1f2;
}

.icons-marketing .ion-logo-facebook {
  color: #0078d7;
}

.icons-marketing .ion-logo-google {
  color: #4285f4;
}

.icons-marketing .ion-logo-youtube {
  color: #ff0000;
}

.icons-marketing .ion-logo-instagram {
  color: #405de6;
}

/*-------------------------------------------------

            - Section Servicios -

-------------------------------------------------*/

.section-servicios {
  background-color: #f4f4f4;
}

.plan-box {
  background-color: white;
  border-radius: 5px;
  width: 80%;
  margin-left: 10%;
  box-shadow: 0 2px 2px #efefef;
}

.plan-box div {
  padding: 15px;
  border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child {
  background-color: #fcfcfc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#highlight {
  background: rgb(255, 249, 186);
}

.plan-box div:last-child {
  text-align: center;
  border: 0;
}

.plan-box h3 {
  text-align: center;
  font-weight: 500;
}

.plan-price {
  text-align: center;
  font-size: 250%;
  margin-bottom: 10px;
  font-weight: 100;
  color: #0078d7;
}

.plan-price span {
  font-size: 30%;
  font-weight: 300;
}

.plan-price-desc {
  text-align: center;
  font-size: 80%;
}

.plan-box ul {
  list-style: none;
  text-align: left;
  font-size: 80%;
}

.plan-box ul li {
  padding: 10px 0;
  text-align: left;
}

.plan-box ul li i {
  display: block;
  float: left;
}

.contacto {
  margin-top: 30px;
}

/*-------------------------------------------------

                - Section Sistemas -

-------------------------------------------------*/

.section-sistemas .row-brands .col img {
  border-radius: 5px;
  width: 50%;
  margin-bottom: 20px;
}

.section-sistemas .row-brands-res .col img {
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}

.row-brands-res {
  display: none;
}
/*-------------------------------------------------

                - Section Telecom -

-------------------------------------------------*/

.section-telecom {
  background: #f4f4f4;
}
.col-telecom img {
  border-radius: 5px;
  width: 80%;
  box-shadow: 0 2px 2px #666;
  margin-bottom: 20px;
}

.brands {
  margin-top: 40px;
}

.row-brands .col img {
  border-radius: 5px;
  width: 90%;
  box-shadow: 0 2px 2px #666;
  margin-bottom: 20px;
}

/*-------------------------------------------------

                - Section Contacto -

-------------------------------------------------*/

.section-contacto {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(img/handshake.jpg);
  /* height: 90vh; */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  font-weight: 500;
  padding-bottom: 100px;
}

.section-contacto h2 {
  color: white;
}

.section-contacto img {
  height: 100px;
}

.section-contacto .icon {
  font-size: 150%;
}

.section-contacto i + p {
  margin-top: 10px;
}

.section-contacto a:link,
.section-contacto a:visited {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white;
}

/*-------------------------------------------------

                - Footer -

-------------------------------------------------*/

footer {
  background-color: #888;
  padding-top: 30px;
  color: #ddd;
  font-size: 65%;
}

footer p {
  text-align: left;
}

footer h4 {
  margin: 10px 0;
  font-weight: 300;
}

footer p a {
  text-decoration: none;
  color: #eee;
}

footer .span-1-of-4 {
  padding-bottom: 0;
}

/* Animations */

.js--wp-1,
.js--wp-2,
.js--wp-3,
.js--wp-4,
.js--wp-5,
.js--wp-6,
.js--wp-7,
.js--wp-8,
.js--wp-9,
.js--wp-10,
.js--wp-11 {
  opacity: 0;
  animation-duration: 1s;
}

.js--wp-atention {
  animation-duration: 2s;
}

.js--wp-1 .animated,
.js--wp-2 .animated,
.js--wp-3 .animated,
.js--wp-4 .animated,
.js--wp-5 .animated,
.js--wp-6 .animated,
.js--wp-7 .animated,
.js--wp-8 .animated,
.js--wp-9 .animated,
.js--wp-10 .animated,
.js--wp-11 .animated {
  opacity: 1;
}
